Swisscom_Virtualization_Suite/Data/wsdl/aps.wfm.osiAppointment.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
Author:	$Author: tgdneja2 $
Date:	$Date: 2014-09-02 16:31:38 +0200 (Tue, 02 Sep 2014) $
ID:	$Id: OsiTaskWfm.wsdl 251704 2014-09-02 14:31:38Z tgdneja2 $
URL:	$URL: svn://mstlcvs.swissptt.ch/EAI/EAI/integration/components/OX/OX.mLogistics/tags/1703.0.0_001/OX.mLogistics-src/Processes/mLogistics/Appointment/Resources/WSDL/OsiTaskWfm.wsdl $ 
-->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.logobject.ch/ns/task/tibco" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OsiTaskWfm" targetNamespace="http://www.logobject.ch/ns/task/tibco">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.logobject.ch/ns/task/tibco" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="osiNew">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="taskHeader" type="tns:TaskHeader"/>
						<xsd:element maxOccurs="unbounded" minOccurs="3" name="address" type="tns:Address">
							<xsd:annotation>
								<xsd:documentation>Mandatory are types: customer main, installation, contact.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="1" name="notificationData" type="tns:NotificationData"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="localLoop" type="tns:LocalLoop"/>
						<xsd:element maxOccurs="1" minOccurs="1" name="installation" type="tns:Installation"/>
						<xsd:element maxOccurs="unbounded" minOccurs="1" name="workPackage" type="tns:WorkPackage"/>
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="material" type="tns:Material"/>
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="productElement" type="tns:ProductElement"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="osiNewResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="errorStatus" type="tns:ErrorStatus"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="osiUpdate">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="taskHeader" type="tns:TaskHeader"/>
						<xsd:element maxOccurs="unbounded" minOccurs="3" name="address" type="tns:Address">
							<xsd:annotation>
								<xsd:documentation>Mandatory are types: customer main, installation, contact.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="1" name="notificationData" type="tns:NotificationData"/>
						<xsd:element maxOccurs="1" minOccurs="1" name="localLoop" type="tns:LocalLoop"/>
						<xsd:element maxOccurs="1" minOccurs="1" name="installation" type="tns:Installation"/>
						<xsd:element maxOccurs="unbounded" minOccurs="1" name="workPackage" type="tns:WorkPackage"/>
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="material" type="tns:Material"/>
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="productElement" type="tns:ProductElement"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="osiUpdateResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="errorStatus" type="tns:ErrorStatus"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="osiCancel">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="osiId" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>The TaskHeader.osiId that was used to create the task.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="1" name="geId" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>                    Global event ID, generated by Tibco Order Orchestration. Used in WFM for 2nd level support. Unique
                    key from Tibco Order.
                  
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="0" name="syncId" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>                    orderCorrelationId. An ID that will stay the same for the lifetime of an order. The ID needs to
                    survive any timeshift or revision.
                  
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="1" name="requestId" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="1" name="sourceApplicationId" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>                    Sourcesystem-Id, Routing information for Tibco. This field has to be fill in by the source system.
                  
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="0" name="checkOnly" type="xsd:boolean">
							<xsd:annotation>
								<xsd:documentation>When set to true, WFM application server will attempt
a cancel, return the resulting status code/text pair and roll
back the transaction. Default: false
NB: there is no guarantee that a subsequent cancel will yield
the same result. It's open to races and should thus 
not be relied upon.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="1" name="reportData" type="tns:ReportData"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="osiCancelResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="errorStatus" type="tns:ErrorStatus"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="TaskHeader">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="osiId" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>                        Persistent unique key (per Task) from Siebel ("Order line item ID"). Opaque to mLogistics. mLogistics will use this key to
                        reference the task in communication with Tibco.
                    
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="oeOrderId" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>Order entry order identifier ("Order-ID" in Siebel). Not necessarily unique.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="requestId" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="geId" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>Sourcesystem-Id, Routing
information for Tibco
This field has to be fill in by the
source system
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="sourceApplicationId" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>Sourcesystem-Id, Routing information for Tibco.
This field has to be fill in by the source system.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="syncId" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>For future use (synchronization logic).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="priority" type="xsd:int">
						<xsd:annotation>
							<xsd:documentation>LOV: 1=high, 2=medium, 3=low</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="appId" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>Appointment ID (from mLogistics' appointment reservation)</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="appStartDate" type="xsd:dateTime">
						<xsd:annotation>
							<xsd:documentation>If no appId, the earliest start time of the task.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="appEndDate" type="xsd:dateTime">
						<xsd:annotation>
							<xsd:documentation>If no appId, the latest end time of execution of the task.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="customerWishDate" type="xsd:dateTime">
						<xsd:annotation>
							<xsd:documentation>Date, when the customer wishes the activation or adoption.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="slaEndDate" type="xsd:dateTime">
						<xsd:annotation>
							<xsd:documentation>The time when the service level agreement for this task ends.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Address">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="type" type="xsd:int">
						<xsd:annotation>
							<xsd:documentation>LOV</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="title" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="firstName" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>Mandatory except for company customers</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="lastName" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>last name or company name</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="profession" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="street" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>street adress, may contain the house number</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="streetNumber" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="streetNumberSuffix" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="locationDescription" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="zip">
						<xsd:annotation>
							<xsd:documentation>short or extended zip code</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="6"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="city" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="language">
						<xsd:annotation>
							<xsd:documentation>ISO 2-letter language code (de, fr, it, en)</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:length value="2"/>
								<xsd:pattern value="[a-z][a-z]"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="countrycode">
						<xsd:annotation>
							<xsd:documentation>ISO 2-letter country code (CH, LI, IT, DE, FR, AT)</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:length value="2"/>
								<xsd:pattern value="[A-Z][A-Z]"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="phone" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="LocalLoop">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="type" type="xsd:int">
						<xsd:annotation>
							<xsd:documentation>LOV: 1=copper, 2=fiber</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="localLoopId" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>The local loop ID for adoption cases where on-demand-data is
required for querying inactive copper lines.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="nsn" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>Net Service Number. Mandatory if LocalLoop.Type=1 (copper)</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="socketId" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>Fibre Socket identifier. Mandatory for type=2</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="plugNr" type="xsd:int">
						<xsd:annotation>
							<xsd:documentation>Fibre plug number (1-4). Mandatory for type=2.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Installation">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="osiTypeCode" type="xsd:int">
						<xsd:annotation>
							<xsd:documentation>LOV</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="osiTypeText" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>OSI product name</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="notice" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>comment for dispatching and service engineer</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="socketInstalled" type="xsd:boolean"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="multiplug" type="xsd:boolean"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="room" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="distanceTtToSocket" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="createdBy" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="serviceUserId" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="customerSegment" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="triggeredBy" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="WorkPackage">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="workPackageCode" type="xsd:int">
						<xsd:annotation>
							<xsd:documentation>LOV</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="quantity" type="xsd:int"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="positionNumber" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>SAP position number: Not relevant for WFM, but must be sent back (WfmStateOsi)</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Material">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="matNr" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>SAP material number</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="quantity" type="xsd:int"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="matReservationId" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>material reservation number from SAP</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="positionNumber" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>SAP position number: Not relevant for WFM, but must be sent back (WfmStateOsi)</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="deliveryMode" type="xsd:int">
						<xsd:annotation>
							<xsd:documentation>LOV</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ErrorStatus">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="errorCode" type="xsd:int">
						<xsd:annotation>
							<xsd:documentation>LOV: 0=no error, &lt;0=error</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="errorText" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>Human readable error message.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ReportData">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="comment" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>Notice text with the reason of the cancellation.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="NotificationData">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="srIntegrationId" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="customerId" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="notificationNumber" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="email" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="language" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ProductElement">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="productId" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="productDescriptionEn" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="netPrice" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="priceType" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="phoneNumber" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="accessSpeedMaxDown" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="accessSpeedMaxUp" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="accessSpeedMinDown" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="accessSpeedMinUp" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="osiNewRequest">
		<wsdl:part name="parameters" element="tns:osiNew"/>
	</wsdl:message>
	<wsdl:message name="osiNewResponse">
		<wsdl:part name="parameters" element="tns:osiNewResponse"/>
	</wsdl:message>
	<wsdl:message name="osiUpdateRequest">
		<wsdl:part name="parameters" element="tns:osiUpdate"/>
	</wsdl:message>
	<wsdl:message name="osiUpdateResponse">
		<wsdl:part name="parameters" element="tns:osiUpdateResponse"/>
	</wsdl:message>
	<wsdl:message name="osiCancelRequest">
		<wsdl:part name="parameters" element="tns:osiCancel"/>
	</wsdl:message>
	<wsdl:message name="osiCancelResponse">
		<wsdl:part name="parameters" element="tns:osiCancelResponse"/>
	</wsdl:message>
	<wsdl:portType name="OsiTaskWs">
		<wsdl:operation name="osiNew">
			<wsdl:documentation>Creates a new task in mLogistics. The operation may be called only once per osiId, and the osiUpdate operation must be used subsequently.</wsdl:documentation>
			<wsdl:input message="tns:osiNewRequest"/>
			<wsdl:output message="tns:osiNewResponse"/>
		</wsdl:operation>
		<wsdl:operation name="osiUpdate">
			<wsdl:documentation>Updates a task that was previously created with the osiNew operation</wsdl:documentation>
			<wsdl:input message="tns:osiUpdateRequest"/>
			<wsdl:output message="tns:osiUpdateResponse"/>
		</wsdl:operation>
		<wsdl:operation name="osiCancel">
			<wsdl:documentation>Aborts a task that was previously created with the osiNew operation, if the task is not currently in the field.</wsdl:documentation>
			<wsdl:input message="tns:osiCancelRequest"/>
			<wsdl:output message="tns:osiCancelResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="OsiTaskBinding" type="tns:OsiTaskWs">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="osiNew">
			<soap:operation soapAction="http://www.logobject.ch/ns/task/tibco/osiNew"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="osiUpdate">
			<soap:operation soapAction="http://www.logobject.ch/ns/task/tibco/osiUpdate"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="osiCancel">
			<soap:operation soapAction="http://www.logobject.ch/ns/task/tibco/osiCancel"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="OsiTask">
		<wsdl:documentation>OSI Task interface with Tibco.
Author: Ortwin Glück, LogObject AG
Version: 32
Specification: Specification_WFM-TIBCO_OSI_v3-3-1.pdf
		</wsdl:documentation>
		<wsdl:port name="IOsiTaskPort" binding="tns:OsiTaskBinding">
			<soap:address location="http://sg2110p.corproot.net:8080/axis/services/IOsiTaskPort"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
